
<html>
<head>
    <title>Shortest Path Program</title>
</head>
<body>
    <h1>Shortest Driving Distance Path</h1>
    <form method="POST" action="/">
        <label for="start">Start Point Address:</label>
        <input type="text" id="start" name="start" required><br><br>

        <label for="end">End Point Address:</label>
        <input type="text" id="end" name="end" required><br><br>

        <input type="submit" value="Find Shortest Path">
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>