<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_226bcea4dd3e113b9f38b8aa525a3eb6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_226bcea4dd3e113b9f38b8aa525a3eb6" ></div>
        
</body>
<script>
    
    
            var map_226bcea4dd3e113b9f38b8aa525a3eb6 = L.map(
                "map_226bcea4dd3e113b9f38b8aa525a3eb6",
                {
                    center: [60.173940349999995, 24.937981609237305],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ab53f0e7cf51fdb52fa0165dd841e4e4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_226bcea4dd3e113b9f38b8aa525a3eb6);
        
    
            var marker_95bc13d7dc4163c443f8f439a05d048d = L.marker(
                [60.173940349999995, 24.937981609237305],
                {}
            ).addTo(map_226bcea4dd3e113b9f38b8aa525a3eb6);
        
    
        var popup_3061977674fd1edcea70428f5a20c3bc = L.popup({"maxWidth": "100%"});

        
            
                var html_d9c09afeb81d83ce4523fb1e2bce24a4 = $(`<div id="html_d9c09afeb81d83ce4523fb1e2bce24a4" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
                popup_3061977674fd1edcea70428f5a20c3bc.setContent(html_d9c09afeb81d83ce4523fb1e2bce24a4);
            
        

        marker_95bc13d7dc4163c443f8f439a05d048d.bindPopup(popup_3061977674fd1edcea70428f5a20c3bc)
        ;

        
    
    
            var marker_d1c3860e3dbd85799c558135738dea31 = L.marker(
                [66.50125410000001, 25.721824734416575],
                {}
            ).addTo(map_226bcea4dd3e113b9f38b8aa525a3eb6);
        
    
        var popup_48aca98034f561b1daf56462c89fbcfc = L.popup({"maxWidth": "100%"});

        
            
                var html_814f8e721efa9bfd303356b4d16d9bd4 = $(`<div id="html_814f8e721efa9bfd303356b4d16d9bd4" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
                popup_48aca98034f561b1daf56462c89fbcfc.setContent(html_814f8e721efa9bfd303356b4d16d9bd4);
            
        

        marker_d1c3860e3dbd85799c558135738dea31.bindPopup(popup_48aca98034f561b1daf56462c89fbcfc)
        ;

        
    
    
            var poly_line_7391b816fdc0c8ff86b1cda366ea48b6 = L.polyline(
                [[60.17395, 24.93848], [60.56671, 25.19587], [61.16447, 25.99724], [61.91965, 26.11688], [62.31901, 25.69941], [63.07837, 25.86664], [63.37199, 25.58509], [63.75237, 25.94642], [63.99711, 25.75509], [64.36194, 25.88773], [64.81499, 25.48558], [65.45986, 25.37824], [65.65636, 25.08587], [65.69212, 24.68659], [65.81903, 24.49319], [66.09624, 24.78391], [66.17631, 25.25689], [66.42782, 25.42551], [66.50113, 25.72214]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_226bcea4dd3e113b9f38b8aa525a3eb6);
        
</script>
</html>