<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25b52e35842d5daff9ade05bbdabcba9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_25b52e35842d5daff9ade05bbdabcba9" ></div>
        
</body>
<script>
    
    
            var map_25b52e35842d5daff9ade05bbdabcba9 = L.map(
                "map_25b52e35842d5daff9ade05bbdabcba9",
                {
                    center: [60.173940349999995, 24.937981609237305],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_46e4c9742cf95bbca9504201c5f0f896 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25b52e35842d5daff9ade05bbdabcba9);
        
    
            var marker_5a7621f0d0e9bf801ca169b3e450fd70 = L.marker(
                [60.173940349999995, 24.937981609237305],
                {}
            ).addTo(map_25b52e35842d5daff9ade05bbdabcba9);
        
    
        var popup_17a720da2caa754ef363bbbe37c72af6 = L.popup({"maxWidth": "100%"});

        
            
                var html_d106b06fbe92c00720382c9640e1cde0 = $(`<div id="html_d106b06fbe92c00720382c9640e1cde0" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
                popup_17a720da2caa754ef363bbbe37c72af6.setContent(html_d106b06fbe92c00720382c9640e1cde0);
            
        

        marker_5a7621f0d0e9bf801ca169b3e450fd70.bindPopup(popup_17a720da2caa754ef363bbbe37c72af6)
        ;

        
    
    
            var marker_e273049f7b85eaffcb91c876d463d7df = L.marker(
                [60.1689437, 24.953805437260506],
                {}
            ).addTo(map_25b52e35842d5daff9ade05bbdabcba9);
        
    
        var popup_f5f00b249736a31cda43e7c5816fee01 = L.popup({"maxWidth": "100%"});

        
            
                var html_abc6bc7ea4efcd673aee88c6d88e0a1c = $(`<div id="html_abc6bc7ea4efcd673aee88c6d88e0a1c" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
                popup_f5f00b249736a31cda43e7c5816fee01.setContent(html_abc6bc7ea4efcd673aee88c6d88e0a1c);
            
        

        marker_e273049f7b85eaffcb91c876d463d7df.bindPopup(popup_f5f00b249736a31cda43e7c5816fee01)
        ;

        
    
    
            var poly_line_f75e24f6292a17526869434f260100da = L.polyline(
                [[60.17395, 24.93848], [60.17311, 24.93857], [60.17295, 24.93867], [60.17296, 24.93885], [60.17455, 24.93854], [60.17446, 24.93538], [60.17372, 24.93351], [60.17115, 24.93602], [60.17067, 24.93705], [60.16667, 24.94317], [60.16667, 24.94378], [60.16709, 24.94517], [60.16721, 24.94951], [60.16899, 24.94933], [60.16911, 24.954], [60.16895, 24.95401]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_25b52e35842d5daff9ade05bbdabcba9);
        
</script>
</html>